.chip_container{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100;
    border: 0;
}

.chip_image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.chip_icon{
    width: 45px;
    height: 45px;
    object-fit: scale-down;
}

.chip_image_blue{
    z-index: 1000;
    background-image: url('../../../../../../public/assets/dot/blue_circle.svg')!important;
}

.chip_image_red{
    z-index: 1000;
    background-image: url('../../../../../../public/assets/dot/red_circle.svg')!important;
}



.chip_container + .chip_container{
    margin-top: 16px;
}

