.chip_container{
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    border: 0;
}

.chip_image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.chip_image_blue{
    background-image: url('../../../../../../public/assets/dot/blue_circle.svg')!important;
}

.chip_image_red{
    background-image: url('../../../../../../public/assets/dot/red_circle.svg')!important;
}


.chip_container + .chip_container{
    margin-top: 16px;
}

