.chip_container{
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(145deg, #CACCCF, #FFFFFF);
    border-radius: 100%;
    box-shadow: 9.91px 9.91px 15px #D9DADE, -9.91px -9.91px 15px #FFFFFF;

    border: 0;
}

.chip_container + .chip_container{
    margin-top: 16px;
}

.chip_player_one{
    box-shadow: inset 9.91px 9.91px 15px #775ED4, inset -9.91px -9.91px 15px #8F70FE;
    background: linear-gradient(145deg, #9C7AFF, #6A54BD);
}

.chip_player_two{
    box-shadow: inset 9.91px 9.91px 15px #d45e5e, inset -9.91px -9.91px 15px #fe7070;
    background: linear-gradient(145deg, #ff7a7a, #bd5454);
}