.container{
    background-image: url(../../public/assets/Background.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

.link{
    cursor: pointer;

    text-decoration: none;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 1rem;

    width: 200px;
    height: 50px;

    outline: 0;

    border-radius: 50px;
    background: #66f56f;
    box-shadow: inset 28px 28px 56px #57d05e,
                inset -28px -28px 56px #75ff80;
}

.link_disabled{
    cursor: not-allowed;

    background: #dedede;
    box-shadow: inset 28px 28px 56px #bdbdbd,
            inset -28px -28px 56px #ffffff;
}

.link + .link{
    margin-top: 10px;
}

.machine {
    width: 100vw;
    height: 101vh;
    background-image: url(../../public/assets/Maquina.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.screen
{
    width: 39vw;
    height: 45vh;
    position: absolute;
    top: 52%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

.button_login
{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    background-image: url(../../public/assets/registro.png);
    background-size: cover;
}

.button_login:hover
{
    cursor: pointer;
    background-image: url(../../public/assets/registroPressionado.png);
}



.menu
{
    width: 39vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_menu
{
    width: 11vw;
    height: 4vw;
    display: block;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    margin-top: 2vh;
    border: none;
}

.button_play
{
    background-image: url(../../public/assets/Jogar.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button_play:hover
{
    background-image: url(../../public/assets/JogarSelecionado.png);
}

.button_rank
{
    background-image: url(../../public/assets/Rank.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button_rank:hover
{
    background-image: url(../../public/assets/RankSelecionado.png);
}

.button_store
{
    background-image: url(../../public/assets/Loja.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.button_store:hover
{
    background-image: url(../../public/assets/LojaSelecionado.png);
}

/* ALTERAÇÕES MARINHO */

#Logo
{
    width: 28.2vw;
    height: 13vh;
    z-index: 9999;
    position: fixed;
    margin-left: 36.6%;
    cursor: pointer;
}

#Conteiner {
    background-image: url(../../public/assets/Background.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 101vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative; 
}

#Maquina {
    width: 100vw;
    height: 101vh;
    background-image: url(../../public/assets/Maquina.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

#Tela
{
    width: 39vw;
    height: 45vh;
    position: absolute;
    top: 52%;
    left: 51.5%;
    transform: translate(-50%, -50%);
}

#Voltar
{
    width: 3vw;
    height: 3vw;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0.6vw;
    margin-top: 2vh;
}


#BotaoVoltar
{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    background-image: url(../../public/assets/Voltar.png);
    background-size: cover;
    cursor: pointer;
}

#BotaoVoltar:hover
{
    background-image: url(../../public/assets/VoltarSelecionado.png);
}

#SaldoImg
{
        width: 9vw;
        height: 3.5vw;
        position: absolute;
        top: -1vh;
        right: 0.5vw;
        margin-left: 0.6vw;
        margin-top: 2vh;
        background-image: url(../../public/assets/Saldo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
}

#SaldoTxt
{
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3vh;
    font-family: Game;
    color: #FFB629;
}

#TextoSelecionePacote {
    position: absolute;
    top: 30%;
    left: 2%;
    text-align: center;
    font-size: 2.2vh;
    font-family: Game;
    color: #FFB629;
    background-image: url(../../public/assets/textBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#TextoPacotesDisponiveis {
    position: absolute;
    top: 40%;
    left: 2%;
    text-align: center;
    font-size: 2.2vh;
    font-family: Game;
    color: #FFB629;
    background-image: url(../../public/assets/textBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#IconePerfilFrame {
    background-image: url(../../public/assets/frame.png);
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 1vh;
    left: 42.5%;
    background-size: contain;
    background-repeat: no-repeat;
}

#IconePerfilFrameMenuInicial {
    background-image: url(../../public/assets/frame.png);
    position: absolute;
    width: 10vw;
    height: 4vw;
    margin-top: 2vh;
    margin-left: 2vh;
    background-size: contain;
    background-repeat: no-repeat;
}

@font-face {
    font-family: Game;
    src: url(../../public/fonts/PressStart2P.ttf);
  }
  
  
#AreaPacotes
{
    width: 39vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pacote
{
    margin-left: 1vw;
    margin-right: 1vw;
    height: 33vh;
    width: 16vw;
    background-image: url(../../public/assets/FundoTemasLoja.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    
}

.PacoteMoedas
{
    margin-left: 1vw;
    margin-right: 1vw;
    height: 33vh;
    width: 16vw;
    background-image: url(../../public/assets/VisaoMoedas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    
}

#BotaoComprarLojaMoedas
{
    background-image: url(../../public//assets/BotaoComprar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 9vw;
    height: 10vh;
    z-index: 9;
    margin-left: -13.4vw;
    margin-top: 35vh;
}

#BotaoComprarLojaMoedas:hover
{
    background-image: url(../../public//assets/BotaoComprarSelecionado.png);
}


#BotaoComprarLoja
{
    background-image: url(../../public//assets/BotaoComprar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 9vw;
    height: 10vh;
    z-index: 9;
    margin-left: -15.4vw;
    margin-top: 35vh;
}

#BotaoComprarLoja:hover
{
    background-image: url(../../public//assets/BotaoComprarSelecionado.png);
}

#SetaMudaPacote
{
    background-image: url(../../public/assets/Voltar.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: scaleX(-1);
    height: 5vh;
    width: 2vw;
}

#SetaMudaPacoteVolta
{
    background-image: url(../../public/assets/Voltar.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 5vh;
    width: 2vw;
}


#SetaMudaPacote:hover
{
    background-image: url(../../public/assets/VoltarSelecionado.png);
    cursor: pointer;
}

#SetaMudaPacoteVolta:hover
{
    background-image: url(../../public/assets/VoltarSelecionado.png);
    cursor: pointer;
}



#TituloTema
{
    position: absolute;
    margin-top: 9vh;
    height: 5vh;
    width: 11vw;
    z-index: 999;
    color: #FFB629;
    margin-left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#IconeLoja
{
    margin-top: 3vh;
    width: 13vw;
    height: 15vh;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* 
#Flinstones
{
    background-image: url(../../public/assets/PacoteFlinstones.png);
}

#Flinstones:hover
{
    background-image: url(../../public/assets/FlinstonesSelecionado.png);
}

#Jetsons
{
    background-image: url(../../public/assets/PacoteJetsons.png);

}

#Jetsons:hover
{
    background-image: url(../../public/assets/JetsonsSelecionado.png);
} */

#View
{
    width: 36vw;
    height: 35vh;
    margin-top: 2vh;
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../public/assets/ViewTemas.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#BotaoComprar
{
    margin-top: 0vh;
    width: 10vw;
    height: 7vh;
    background-image: url(../../public/assets/BotaoComprar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 14.5vw;
}

#BotaoComprar:hover
{
    background-image: url(../../public/assets/BotaoComprarSelecionado.png);
    cursor: pointer;
}

#BotaoComprarConfirma
{
    margin-top: -2vh;
    width: 10vw;
    height: 7vh;
    background-image: url(../../public/assets/BotaoComprar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 14.5vw;
}

#BotaoComprarConfirma:hover
{
    background-image: url(../../public/assets/BotaoComprarSelecionado.png);
    cursor: pointer;
}

#ConfirmaCompra
{
    width: 29vw;
    height: 35vh;
    margin-top: 4vh;
    margin-left: 6vw;
    background-image: url(../../public/assets/ConfirmaCompra.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#AreaTituloConfirmacao
{
    width: 10vw;
    height: 6vh;
    position: absolute;
    z-index: 9999;
    align-items: center;
    color: #FFB629;
    text-align: center;
    font-size: 3vh;
    font-family: Game;
    margin-top: 14.5vh;
    margin-left: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AreaTituloConfirmacao p
{
    font-size: 2vh;
}

#AreaConfirmacao
{
    width: 14vw;
    height: 20vh;
    position: absolute;
    z-index: 9999;
    color: #FFB629;
    text-align: center;
    font-size: 3vh;
    font-family: Game;
    margin-top: 7vh;
    margin-left: 14.1vw;
}

#TituloTemaCompra
{
    position: absolute;
    margin-top: 6.5vh;
    height: 5vh;
    width: 11vw;
    z-index: 999;
    color: #FFB629;
    margin-left: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#PecaTema
{
    position: absolute;
    margin-top: 7vh;
    height: 17vh;
    width: 11vw;
    z-index: 999;
    color: #FFB629;
    margin-left: 24.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#IconeTema
{
    position: absolute;
    height: 17vh;
    width: 11vw;
    color: #FFB629;
    margin-left: 0;
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#FundoTema
{
    position: absolute;
    margin-top: 7vh;
    height: 17vh;
    width: 11vw;
    z-index: 999;
    color: #FFB629;
    margin-left: -24.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#AreaValorSaldo
{
    background-color: red;
}

#AreaSaldoPosCompra
{
    background-color: red;
}

#AlteraQtdPacotes
{
    color: #FFB629;
    width: 3vw;
    height: 3vh;
    margin-top: 12vh;
    margin-left: 10vw;
    text-align: center;
    background: none;
    border: 1px solid black;
}

#AlteraMoedasPacotes
{
    color: #FFB629;
    font-size: 2.7vh;
    width: 7vw;
    height: 4vh;
    margin-top: 1.5vh;
    margin-left: 9vw;
    text-align: center;
}

#AlteraRealPacotes
{
    color: #FFB629;
    font-size: 2.5vh;
    width: 14vw;
    height: 4vh;
    margin-top: 5.3vh;
    margin-left: 1vw;
    text-align: center;
}