.page_content{
    margin: 0 auto;
    width: 90%;
}

.page_content::before{
    background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url('../../../../../../public/assets/background/1123556.png');
    content: "";
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.page_division{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.board_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width:  100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.user{
    z-index: 1000;
    display: block;
}

