.buttons{
    margin: 16px 0;

    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons button{

    height: 40px;

    background-color: rgb(24, 105, 175);

    padding: 8px;

    border-radius: 8px;
}

.title{
    margin-bottom: 8px;
}